.wrapper {
    width: 99%;
    
}


body{
    background-image: url('bg-petit.jpg');
    font-size: 1rem;
}
img{
    top:30px;
}

.gauche{
    width:100%;
    padding-left: 10px;
    line-height: 1.5;
}
.droite{
    width:100%;
    padding-left: 10px;
    line-height: 1.5;
}

.row {
    margin-bottom: 10px;
}

.site-header{
    margin-bottom: 5px;
}

.pays{
    font-size: 1rem;
    width: 22%;
    margin-bottom: 15px;
}
.pays img{
    max-height: 70%;
}

.comp li{
    font-size: 1rem;
}

.drapeaux{
    width: 80%;
}
h3{
    text-shadow:none;
    
}

.autres{
    display: inline-block;
    background-image: url("autres-small.png");
    background-size: contain;
    background-repeat: no;
    width: 195px;
    height: 27px;
    
}

h2 {
    font-size: 2rem;
}

